.squarre-template{
	margin-top: 0px;
	padding-top: 15px;
}

.squarre-template .row {
    padding-bottom: 5px;
    padding-top: 5px;
}

.game-list .row {
    padding-bottom: 0;
    padding-top: 0;
}
.game-list-item{
	border:1px solid;
	border-color: gray;
/*	border-radius:1px;*/
	margin-top: -1px;
	padding: 2px;
	background-color: #FBFBFB;;

}
.game-list-date {
	font-size: 10px;
	color: gray;
}
.game-list-item-player1, .game-list-item-player2  {
    text-align: center;
}

.game-list-item-player1-points, .game-list-item-player2-points{

}

.won{
	background-color: blue;
}
.lost{
	background-color: red;
}
.draw{
	background-color: yellow;
}